<!DOCTYPE html>
<html>
    <head>
        <script src="https://js.stripe.com/v3/"></script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <header>
            <h1>galvanize</h1>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
